<!DOCTYPE html>
<html>

   <head>
    <meta charset="utf-8">
    <title> Learning | Happygirl  </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1> Post it </h1>
        </a>
        <nav>
            <ul>
                <li><a href="signup.html" >Sign Up</a></li>
                <li><a href="signin.html">Sign In</a></li>
                <li><a href="creategroup.html" class="selected" >Create
                Group</a></li>
                <li><a href="postmessage.html">Post message</a></li>
                <li><a href="messageboard.html">Message Board</a></li>
                
           </ul>
        </nav>
    </header>
    <div id = "wrapper">
        <section >
            <img src="images/5a2701f7fa3945512566a0d44120e625.jpg" alt="Profile picture of Labake" class="profile-photo"  >
            <h3>  General Information
            </h3>
            <p> Welcome to Post, create a new group to start communicating.</p>
        </section>
    </div>
            <section>
            <form action="index.html" method="post" name="SignupDetail">
                <fieldset>
                    <legend>
                        Group Detail
                    </legend><br>
                    <label for="username"> Groupname:</label>
                    <input type="text" name="username" placeholder="Choose a user name" id="username"><br><br>

<!--
                    <label for="password" id="password"> Password:</label>
                    <input type="password" placeholder="Enter a password" name="password"><br><br>
-->

                    <input type="submit" value="Create Group">
                </fieldset><br><br>


            </form>
        </section>
    <footer>
        <a href="http://twitter.com/1abake"><img src="images/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/labakelemboye"><img src="images/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        
        <p> &copy;  2017 HappygirlO1. </p>
    </footer>


</body>
</html>