<!DOCTYPE html>
<html>

   <head>
    <meta charset="utf-8">
    <title> Learning | Happygirl  </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1> Post it </h1>
        </a>
        <nav>
            <ul>

                <li><a href="creategroup.html" >Create
                Group</a></li>
                <li><a href="postmessage.html">Post message</a></li>
                <li><a href="messageboard.html">Message Board</a></li>
                
           </ul>
        </nav>
    </header>
    <!--<div id = "wrapper">
        <section >
            <img src="images/5a2701f7fa3945512566a0d44120e625.jpg" alt="Profile picture of Labake" class="profile-photo"  >
            <h3>  General Information
            </h3>
            <p> Welcome to this environment, sign into your account to get started.</p>
        </section>
    </div>
      <section>
            <form action="index.html" method="post" name="SignupDetail">
                    <label for="groupname">Group</label>
                    <select name="groupname" id="groupname">
                    <option > Group one </option>
                    <option > Group two  </option>
                    <option  > Group three </option>
                    <option > Group four  </option>
                    </select><br>
          </form>
            
      </section>-->
    <div id = "header">
<!--
        <div class="logo"><a href="#"> Post <span> It </span></a>
        </div>
-->
        <div id="container">
            <div class = "sidebar"> 
                <ul id="nav">
                    <li><a href ="#"> Select Group </a></li>
                    <li><a href ="#">Babies </a></li>
                    <li><a href ="#">Subjects </a></li>
                    <li><a href ="#">A4H</a></li>
                    <li><a href ="#">Polyglot</a></li>
                    <li><a href ="#">LOS/23</a></li>

                </ul>

            </div>
            <div class = "content"> 
                <h1>Message Board</h1> 
                

                <div id="box">
                    <div class = "box-top"> Daily stand up</div>
                    <div class="box-panel">
                        The message in this group is all about all these stuff
                    </div>

                </div>

                <div id="box">
                    <div class = "box-top"> Sally shower</div>
                    <div class="box-panel">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </div>

                </div>

                <div id="box">
                    <div class = "box-top"> Baby names</div>
                    <div class="box-panel">
                        
                        What is Lorem Ipsum?

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </div>

                </div>

                <div id="box">
                    <div class = "box-top"> whatever</div>
                    <div class="box-panel">
                        Why do we use it?

                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                    </div>

                </div>
            
            </div>
        </div>


        
    </div>
    <!--<div> 
        <section>
            <p>
                Your  first message in this group is all about Nigeria.
            </p>
        
        </section>
    </div>-->
        <!--<div> 
        <section>
            <p>
                Your  here is about ownership.
            </p>
        
        </section>
    </div>-->
    <footer>
        <a href="http://twitter.com/1abake"><img src="images/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/labakelemboye"><img src="images/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        
        <p> &copy;  2017 HappygirlO1. </p>
    </footer>


</body>
</html>
