<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Post it </title>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
<!--    <link rel="stylesheet" type="text/css" href="css/responsive.css">-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <nav>
        <div class="nav-wrapper green darken-4">
            <a href="index.html" class="brand-logo">Post It</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="signin.html">Sign In</a></li>
            </ul>
        </div>
    </nav><br><br>
    
    <div class="row form">
        <form class="col s12" action="creategroup.html" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" placeholder="Enter a username" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" placeholder="Enter your password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div><br>
            <div class="row">
                <p>
                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    <label for="filled-in-box">Remember me</label>
                </p>
                <span class="psw">Forgot  <a href="signin.html">password?</a></span>
            </div><br>

<!--
            <div>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                <p>
                    <span class="validate">Already have an account  <a href="signin.html">Sign In</a></span>


                </p>
            </div>
                        <div class="clearfix container">
                     
                    <span class="psw">Forgot  <a href="signin.html">password?</a></span>

                    <button type="submit" class="signupbtn">Sign In</button>
                </div>
            
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <div class="clearfix">
                <span class="psw">Already have an account  <a href="signin.html">Sign In</a></span>

                <button type="submit" class="signupbtn">Sign Up</button>
            </div>
-->

            <a class="waves-effect waves-light btn grey darken-4">Sign In</a>

        </form>
    </div>

<footer class="page-footer green darken-4">
        <div class="container green darken-4">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Stay Connected</h5>
                    <p class="grey-text text-lighten-4">Join our over 5 million users today.
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <!--
                  <h5 class="white-text">Sign Up</h5>
                   <h5 class="white-text">Sign In</h5>
-->
                    <ul>
                        <li>
                            <a href="http://twitter.com/postitapp"><img src="images/twitter-wrap.png" alt="Twitter Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                        </li>
                        <li>
                            <a href="http://facebook.com/postitapp"><img src="images/facebook-wrap.png" alt="Facebook Logo" class=" grey-text text-lighten-4 right social-icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright green darken-4 ">
            <div class="container green darken-4">
                © 2017 Happy Girl World
                <!--            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>


    <script>
        $(document).ready(function() {
            $('.slider').slider();
        });
    </script>


<!--
<body>
  
    <div id="wrapper">
        <section>
            <img src="images/5a2701f7fa3945512566a0d44120e625.jpg" alt="Profile picture of Labake" class="profile-photo">
            <h3> General Information
            </h3>
            <p> Welcome to this environment, sign into your account to get started.</p>
        </section>
        
    </div>
    <section>
        <form action="creategroup.html" method="post" name="SignupDetail" class="container">
          
                <label for="username"> Username:</label>
                <input type="text" name="username" placeholder="Choose a user name" id="username"><br><br>

                <label for="password" id="password"> Password:</label>
                <input type="password" placeholder="Enter a password" name="password"><br><br>
                 <div class="clearfix container">
                     <input type="checkbox" checked="checked"> Remember me
                    <span class="psw">Forgot  <a href="signin.html">password?</a></span>

                    <button type="submit" class="signupbtn">Sign In</button>
                </div>
        </form> 


    </section>
    <footer>
        <a href="http://twitter.com/1abake"><img src="images/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <a href="http://facebook.com/labakelemboye"><img src="images/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>

        <p> &copy; 2017 HappygirlO1. </p>
    </footer>


</body>
-->
</body>
</html>
