
/*********************
general
**********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: inherit;
    
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
    
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;

}


/*********************
heading
**********************/

#logo {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    

    
}
h1 {
    font-family: sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
   
    
}

/*
h2 {
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
*/

/*********************
navigation
**********************/

nav {
    text-align: center;
    padding: 10px 0 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/*********************
footer
**********************/

footer {
    text-align: center;
    clear: both;
    padding-top: 50px;
    font-size: 0.75em;
    color: #ccc;
}

.social-icon {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    border-radius: 100%;
    
    
}

    

/*********************
page about
**********************/

.profile-photo {
    display: block;
    max-width: 250px;
    margin: 0 auto 30px;
    border-radius: 100%
}

.welcome {
    display: block;
    max-width: 100%;
    margin: 0 auto 30px;
/*    border-radius: 100%;*/
    float: left;
    
}



/*********************
color
**********************/

/* link */
a {
    color: #6ab47b;
}
/* green header*/
header {
    background:  #6ab47b;
    border: #599a68;
}

/* logo text */
h1, h2 {
    color: #fff;
}
/* nav background on mobile */
nav {
    background:#599a68; }

/* nav link */
nav a, nav a:visited {
    color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
    color: #32673f;
}

/* site body */
body {
    background-color: #1e392a; 
    color: #999;
    background-image: url(images/);
    background-size: cover;
/*    background-size: 100% 710px;*/
}

input[type=text],input[type=email],input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container {
    padding: 16px;
}
button {
    background-color: #1e392a;
    color: gray;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form {
    background: white;
    width: 350px;
    height: 750px;
    margin: auto;
    padding-top: 0px;
    border-radius: 10px;
/*    font-size: 20px;*/
    
}

div#container {
    width:100%;
    margin:0 auto;
}
.sidebar {
    width: 250px;
    height: 100%;
    /*margin-right : 250px;*/
    background-color: #93c178;
    float:left;

}
.content{
    width: auto;
    height: 100%;
    margin-left: 250px;
    background-color: #1f6521;
    padding: 15px;

}

ul#nav {

}

ul#nav li {
    list-style: none;
}

ul#nav li a {
    color: #1e392a;
    display: block;
    padding: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid #32673f;
    transition: 0.2s;

}

ul#nav li a:hover{
    background-color: #93c178;
    color: #1f2605;
    padding-left: 20px;

}

.content p {
    color: #ccc;

}

div#box{
    margin-top: 15px;
}

div#box .box-top{

    color: #fff;
    text-shadow: 0px 0px 1px #ddd;
    background-color: #1f2605;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
    
}

div#box .box-panel{
    padding: 15px;
    background-color: #93c178;
    color: #333;
    
}

.btn {
    display: inline-block;
    padding: 8px 14px;
    font-size: 24px;
    border: 2px solid;
    border-radius: 10px;
    
}